<!-- home page -->

<div id="home-view">
    <div class="background-image"></div>

    <div class="headline row" style="height: 450px">
        <h1>{{ 'LEARN_TOGETHER' | translate }}</h1>
        <h3>{{ 'WELCOME1' | translate }}</h3>
        <h3>{{ 'WELCOME2' | translate }}</h3>
        <!-- <h4>{{ 'REGISTER' | translate }}</h4> -->
    </div>

    <!--
		<div class="test1">

			<div class="row" style="background-color:black; height: 500px; opacity: 0.7;">
				test
			</div>

			<div class="row" style="background-color: #EEF9FF; height: 500px; opacity: 1; blur: 0.5;">
				test
			</div>

			<div class="row" style="background-color: #EEF9FF; height: 400px;">
				<div class="test" style="opacity: 0.6; height: 500px;">
				test
				test

				</div>
			</div>

		</div>
		-->
    <!--
	<div id="copyright">
	  	©2015 kaiwaLife. All rights reserved.
	 </div>
	-->
</div>
