<div class="nav-wrapper" ng-class="[{'logged-in': auth}, currentRouteName]">
    <div class="nav-content header row">
        <a class="pull-left brand" href="http://localhost:8080/#/home">{{ 'BRAND' | translate }}</a>
            <span class="pull-right headerLink">
            <div class="btn-group">
                <button type="button" class="btn-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="language">
                {{language}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-language">
                    <li><a class="dropdown-element" ng-click="changeLanguage('en_US')" ng-class="{selected: language=='English'}">English</a></li>
                    <li><a class="dropdown-element" ng-click="changeLanguage('jp')" ng-class="{selected: language=='日本語'}">日本語</a></li>
                </ul>
            </div>
            <span ng-show="!auth">
                <a ng-click="openSignUpModal()" class="signUp">{{ 'SIGN_UP' | translate }}</a>
                <a ng-click="openLoginModal()">{{ 'LOG_IN' |  translate }}</a>
            </span>
            <span ng-show="auth">
                <a ng-click="profile()">{{ 'PROFILE' | translate }}</a>
                <a ng-click="logout()">{{ 'LOG_OUT' | translate }}</a>
            </span>
        </span>
    </div>
</div>
