@import "core";

.nav {
    .nav-wrapper {
        &.profile,
        &.editProfile {
            background: @color-white;
            // border-bottom: 1px solid @color-black;
            -webkit-box-shadow: 0 4px 6px -6px #777;
               -moz-box-shadow: 0 4px 6px -6px #777;
                    box-shadow: 0 4px 6px -6px #777;

            a {
                color: @color-black;
            }

            .btn-language {
                color: @color-black;
                border-color: #ccc;
            }

            .headerLink {
                a,
                a:hover {
                    color: @color-black;
                }
            }
        }

        .nav-content {
            margin: auto;
            max-width: 800px;
            padding: 20px 15px;
        }
    }

    a {
        color: white;
        text-decoration: none;
        .ease-in-out(color);

        &:hover {
            text-decoration: none !important;
            color: black;
            cursor: pointer;
        }

        &:nth-last-child(n+2) {
            margin-right: 10px;
        }
    }

    .brand {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
    }
}
